@import '@styles/custom';

.overlay {
  @include flex(center, center, column);

  @include size(100dvw, 100dvh);

  position: fixed;

  z-index: 2;

  top: 0;

  left: 0;

  background-color: rgba(0, 0, 0, 0.4);

  opacity: 0;

  transition: 0.5s;

  pointer-events: none;
}

.active {
  z-index: 10000;

  pointer-events: all;

  opacity: 1;
}

.content {

  transform: scale(0.5);

  min-width: 300px;

  min-height: 100px;
  max-width: calc(100% - 100px);

  background-color: $background-paper;

  border-radius: 6px;

  transition: 0.4s all;

  &-active {
    transform: scale(1);
  }
}

.header {
  padding: 20px;

  &-content {
    max-width: calc(100% - 40px);

    word-wrap: break-word;
  }
}

.body {
  padding: 20px;

  border-bottom: 1px solid $primary-light;

  border-top: 1px solid $primary-light;
}

.footer {
  padding: 20px;
}

.close {
  @include size(24px);

  position: absolute;

  top: 20px;

  right: 20px;

  cursor: pointer;

  &:hover {
    path {
      stroke-width: 2px;
    }
  }
}