@import '@styles/custom';

.back-ground {
  @include center-block;

  width: 400px;

  padding: 10px;

  text-align: center;

  color: $background-paper;

  background-color: $backdrop-main;

  border-radius: 5px;
}

.button {
  @extend %ft-pixelify;
}
