//Mobile
$mobile: 480px;
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 430px;
$mobile-landscape: 768px;

//Tablet
$tablet: 834px;
$tablet-default: 768px;
$tablet-landscape: 1024px;

//Desktop
$laptop: 1024px;
$laptop-l: 1440px;