.counter {
  display: flex;
  width: 100%;
  max-width: 190px;
  margin: 32px auto;
}

.btn {
  width: 42px;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.4;
  color: white;
  background-color: #1c6bd1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.count {
  flex: 1;
  font-size: 42px;
  text-align: center;
}
