@import '@styles/custom';

.marquee {
  @include flex();

  position: relative;

  width: 100vw;

  height: 46px;

  max-width: 100%;

  overflow-x: hidden;

  background-color: $green-75;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.track {
  @include flex();

  position: absolute;

  gap: $space-3;

  white-space: nowrap;

  animation: marquee 32s linear infinite;

  will-change: transform;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}