@import '@styles/custom';

.link {
  padding-bottom: 2px;

  text-decoration: none;

  color: $text-primary;

  background-color: rgba(0, 0, 0, 0);
}

.primary {
  background-image: linear-gradient(to right, $green-25 50%, transparent 50%);

  background-position: 100% bottom;

  background-repeat: no-repeat;

  background-size: 200% 2px;

  transition: background-position .5s ease-in-out;

  &:hover {
    background-position: 0 bottom;
  }
}

.secondary {
  background-image: linear-gradient(to right, $green-25 50%, $primary-light 50%);

  background-position: 100% bottom;

  background-repeat: no-repeat;

  background-size: 200% 2px;

  transition: background-position .5s ease-in-out;

  &:hover {
    background-position: 0 bottom;
  }
}