$text-primary: #FFFFFF;
$text-secondary: #636669;
$text-disabled: #636669;

$primary-dark: #0cb259;
$primary-main: #12FF80;
$primary-light: #A1A3A7;

$secondary-dark: #636669;
$secondary-main: #FFFFFF;
$secondary-light: #12FF80;
$secondary-background: #303033;

$border-main: #636669;
$border-light: #303033;
$border-background: #121312;

$error-dark: #AC2C3B;
$error-main: #FF5F72;
$error-light: #FFB4BD;
$error-background: #2F2527;

$success-dark: #028D4C;
$success-main: #00B460;
$success-light: #81C784;
$success-background: #1F2920;

$info-dark: #52BFDC;
$info-main: #5FDDFF;
$info-light: #B7F0FF;
$info-background: #19252C;

$warning-dark: #CD674E;
$warning-main: #FF8061;
$warning-light: #FFB7A6;
$warning-background: #2F2318;

$background-default: #121312;
$background-main: #121312;
$background-paper: #1C1C1C;
$background-light: #1B2A22;

$backdrop-main: #636669;

$logo-main: #FFFFFF;
$logo-background: #303033;

$static-main: #121312;
