$text-primary: #121312;
$text-secondary: #A1A3A7;
$text-disabled: #DDDEE0;

$primary-dark: #3c3c3c;
$primary-main: #121312;
$primary-light: #636669;

$secondary-dark: #0FDA6D;
$secondary-main: #12FF80;
$secondary-light: #B0FFC9;
$secondary-background: #EFFFF4;

$border-main: #A1A3A7;
$border-light: #DCDEE0;
$border-background: #F4F4F4;

$error-dark: #AC2C3B;
$error-main: #FF5F72;
$error-light: #FFB4BD;
$error-background: #FFE6EA;

$success-dark: #028D4C;
$success-main: #00B460;
$success-light: #72F5B8;
$success-background: #F2FFF9;

$info-dark: #52BFDC;
$info-main: #5FDDFF;
$info-light: #B7F0FF;
$info-background: #EFFCFF;

$warning-dark: #CD674E;
$warning-main: #FF8061;
$warning-light: #FFB7A6;
$warning-background: #FFF0ED;

$background-default: #F4F4F4;
$background-main: #F4F4F4;
$background-paper: #FFFFFF;
$background-light: #EFFFF4;

$backdrop-main: #636669;

$logo-main: #121312;
$logo-background: #EEEFF0;

$static-main: #121312;

// Other colors
$gray-25: #D7D9E4;